.question{
    border: 1px solid red;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

/* CONTAINER PREGUNTAS */
.trivia_container_question {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}
.question_trivia {
    font-size: 18px;
    margin-bottom: 15px;
}
.answers {
    list-style: none;
    padding: 0;
}
.answer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.answer:hover {
    background-color: #0056b3;
}

.trivia_container_question{
    width: 900px;
}

.container_answers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.answer{
    padding: 14px;
    width: 350px;
}

.mensaje_respuesta {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px 20px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-align: center; 
    z-index: 10;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

/* Clase para mostrar el mensaje */
.show {
    opacity: 1; 
}

/* Clase para ocultar el mensaje */
.hidden {
    display: none; 
}

.ganador{
    font-size: 3rem;
    text-align: center;
}

.img_ganador{
    box-shadow: 0px 4px 20px rgb(243, 241, 241);
}
